@import "../../node_modules/bootstrap/scss/bootstrap.scss"

$fa-font-path: "../../node_modules/@fortawesome/fontawesome-free/webfonts"

@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss"
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss"

ul 
    display: flex
    padding-top: 10px
.img
    list-style: none
    color: white
li
    list-style: none
    flex: 1
    text-align: center
    padding-top: 10px
    color: white
    &:hover
        background-color: red

    
    border-top: solid white 1px
    border-bottom: solid white 1px
    height: 57px

.opa
    filter: brightness(40%)
    z-index: -1
    position: absolute
h1 
    color: white
    text-align: center
.rr
    color: red
.but
    text-align: center